[submodule "ansible/reve-setup/roles/bashmount"]
	path = ansible/reve-setup/roles/bashmount
	url = git@github.com:montaropdf/ansible-bashmount-role.git
[submodule "ansible/reve-setup/roles/mu"]
	path = ansible/reve-setup/roles/mu
	url = git@github.com:montaropdf/ansible-mu-role.git
[submodule "ansible/reve-setup/roles/stumpwm"]
	path = ansible/reve-setup/roles/stumpwm
	url = git@github.com:montaropdf/ansible-stumpwm-role.git
